Repository crimethinc/website, pull requests merged in 2018-10, with the labels that each got.

#855 Make bugsnag differentiate staging and production
  config/initializers/bugsnag.rb
Labels: :building_construction: infrastructure

#760 Donations with Stripe credit card processing!
  .rubocop.yml
  Gemfile
  Gemfile.lock
  README.md
  app/assets/javascripts/application.js
  app/assets/javascripts/support.js
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/components/_header.scss
  app/assets/stylesheets/views/support.scss
  app/controllers/donate_controller.rb
  app/controllers/support_controller.rb
  app/helpers/support_helper.rb
  app/mailers/application_mailer.rb
  app/mailers/support_mailer.rb
  app/models/support_session.rb
  app/views/donate/index.html.erb
  app/views/layouts/mailer.html.erb
  app/views/shared/header/_masthead.html.erb
  app/views/shared/header/_nav.html.erb
  app/views/support/_notifications.html.erb
  app/views/support/edit.html.erb
  app/views/support/new.html.erb
  app/views/support/thanks.html.erb
  app/views/support_mailer/edit_subscription.html.erb
  app/views/support_mailer/edit_subscription.text.erb
  config/environment.rb
  config/environments/production.rb
  config/initializers/stripe.rb
  config/locales/en.yml
  config/routes.rb
  db/migrate/20180827224713_create_subscription_sessions.rb
  db/migrate/20180916190228_change_subscription_sessions_to_support_sessions.rb
  db/schema.rb
  lib/tasks/scheduler.rake
  public/robots.txt
  spec/controllers/donate_controller_spec.rb
  spec/mailers/previews/support_mailer_preview.rb
Labels: :hand: DO NOT MERGE

#885 Add es.yml, actual
  config/locales/en.yml
  config/locales/es.yml
Labels: :hand: DO NOT MERGE

#887 Add TCE site generator
  docs/tce-guide.org
  lib/generators/to_change_everything/USAGE
  lib/generators/to_change_everything/templates/en.yml.template
  lib/generators/to_change_everything/templates/to_change_everything.scss.template
  lib/generators/to_change_everything/to_change_everything_generator.rb
Labels: :world_map: translations

#892 Add awesome-print gem to rails console
  .irbrc
  Gemfile
  Gemfile.lock
Labels: :building_construction: infrastructure
