Repository crimethinc/website, pull requests merged in 2019-10, with the labels that each got.

#1307 Finish Rails 6 upgrade
  config/application.rb
  config/initializers/new_framework_defaults.rb
  config/initializers/new_framework_defaults_5_1.rb
  config/initializers/new_framework_defaults_6_0.rb
Labels: :building_construction: infrastructure

#1314 GitHub Actions workflow CI
  .github/workflows/greetings.yml
  .github/workflows/labeler.yml
  .github/workflows/ruby.yml
  .github/workflows/tests.yml
  Gemfile
  Gemfile.lock
Labels: :spider_web: dependencies, ✅ actions

#1316 Move db:migrate to 'Configure database' step
  .github/workflows/tests.yml
Labels: ✅ actions

#1317 Re-enable rspec in GitHub Action CI
  .github/workflows/tests.yml
Labels: ↔️ migrations, ✅ actions
