Repository crimethinc/website, pull requests merged in 2019-09, with the labels that each got.

#1265 Ruby CI with GitHub Actions
  .github/workflows/ruby.yml
Labels: actions

#1266 Change japanese label from "Japanese Person" to "Japanese Language"
  app/assets/stylesheets/to_change_everything/_nihongo.scss
  app/controllers/to_change_everything_controller.rb
  app/views/layouts/to_change_everything.html.erb
  config/application.rb
  config/locales/to_change_everything/ja.yml
Labels: To Change Everything

#1267 Add locale to Tools
  app/controllers/admin/books_controller.rb
  app/controllers/admin/episodes_controller.rb
  app/controllers/admin/issues_controller.rb
  app/controllers/admin/journals_controller.rb
  app/controllers/admin/logos_controller.rb
  app/controllers/admin/pages_controller.rb
  app/controllers/admin/podcasts_controller.rb
  app/controllers/admin/posters_controller.rb
  app/controllers/admin/stickers_controller.rb
  app/controllers/admin/videos_controller.rb
  app/controllers/admin/zines_controller.rb
  app/views/tools/index.html.erb
  db/migrate/20190909010348_add_locale_to_all_things.rb
  db/schema.rb
Labels: migrations

#1270 Delete jquery.js from public site [fixes #1260]
  Gemfile
  app/assets/javascripts/jquery.js
  app/views/shared/head/_javascripts.html.erb
Labels: dependencies

#1272 Add canonical_id to all of the Tools [#1065]
  db/migrate/20190910054754_add_canonical_id_to_toooools.rb
  db/schema.rb
Labels: migrations

#1273 Add emoji to labels in labler GitHub Action
  .github/labeler.yml
Labels: ✅ actions

#1289 Fix featured article seeds
  db/seeds/articles.rb
Labels: 🌱 seeds
