Repository crimethinc/website, pull requests merged in 2019-12, with the labels that each got.

#1402 Add language collection pages
  app/assets/stylesheets/2017.scss
  app/assets/stylesheets/2017/views/_locales.scss
  app/controllers/languages_controller.rb
  app/helpers/languages_helper.rb
  app/models/locale.rb
  app/views/2017/languages/index.html.erb
  app/views/2017/languages/show.html.erb
  config/locales/cz.yml
  config/locales/de.yml
  config/locales/en.yml
  config/locales/es.yml
  config/locales/fr.yml
  config/routes.rb
  db/migrate/20191215191508_add_slug_to_locales.rb
  db/schema.rb
Labels: ↔️ migrations

#1416 Add a codeowners file and PR Template
  .github/CODEOWNERS
  .github/PULL_REQUEST_TEMPLATE.MD
Labels: ✅ actions

#1423 Add SVG icons [#1060]
  public/tce/images/icons/book-open.svg
  public/tce/images/icons/check.svg
  public/tce/images/icons/crown.svg
  public/tce/images/icons/doc-text.svg
  public/tce/images/icons/down-dir-1.svg
  public/tce/images/icons/down-dir.svg
  public/tce/images/icons/down-open.svg
  public/tce/images/icons/facebook.svg
  public/tce/images/icons/file-pdf.svg
  public/tce/images/icons/fire.svg
  public/tce/images/icons/flow-tree.svg
  public/tce/images/icons/globe-1.svg
  public/tce/images/icons/globe.svg
  public/tce/images/icons/language.svg
  public/tce/images/icons/list-1.svg
  public/tce/images/icons/list-2.svg
  public/tce/images/icons/ok.svg
  public/tce/images/icons/share-1.svg
  public/tce/images/icons/share.svg
  public/tce/images/icons/shareable.svg
  public/tce/images/icons/sitemap.svg
  public/tce/images/icons/tumblr.svg
  public/tce/images/icons/twitter.svg
  public/tce/images/icons/youtube-play.svg
Labels: :paintbrush: frontend, 💡 To Change Everything

#1425 [i18n] Make all of the links on the language landing page work
  app/controllers/languages_controller.rb
  app/services/locale_service.rb
  app/services/locale_service/locale.rb
  app/services/locale_service/locales.rb
  app/views/2017/languages/index.html.erb
  app/views/2017/languages/show.html.erb
  spec/factories/articles.rb
  spec/factories/locale.rb
  spec/services/locale_service/locale_spec.rb
  spec/services/locale_service/locales_spec.rb
  spec/services/locale_service_spec.rb
  spec/system/language_landing_page_spec.rb
Labels: :speech_balloon: languages, :world_map: translations

#1426 TCE refactoring
  .rubocop.yml
  app/helpers/to_change_everything_helper.rb
  app/views/layouts/to_change_everything.html.erb
  app/views/to_change_everything/_share_links.html.erb
  app/views/to_change_everything/show.html.erb
Labels: 💡 To Change Everything

#1431 Locale articles count
  app/controllers/languages_controller.rb
  app/views/2017/languages/index.html.erb
  db/migrate/20191229192638_add_articles_count_to_locales.rb
  db/schema.rb
Labels: ↔️ migrations
