Repository crimethinc/website, pull requests merged in 2020-08, with the labels that each got.

#1728 JSON API endpoints for logos/posters/sticker#show
  Gemfile
  Gemfile.lock
  app/middlewares/rack/json_requests.rb
  app/views/2017/logos/show.json.jbuilder
  app/views/2017/tools/show.json.jbuilder
Labels: :spider_web: dependencies

#1732 Seed uploads import rake tasks
  db/seeds.rb
  lib/tasks/data/migrate_single_page_tools_from_s3_to_active_storage.rake
  lib/tasks/seed/uploads.rake
  script/seed
Labels: 🌱 seeds

#1735 [BUG] Force UTF-8 encoding for social meta tags
  app/views/2017/shared/head/_social_media_meta_tags.html.erb
Labels: :bug: bug

#1746 [BUG] fix css reference
  app/views/layouts/to_change_everything.html.erb
Labels: 💡 To Change Everything

#1747 Use rails master (6.1.0.alpha), for #mirror_later
  Gemfile
  Gemfile.lock
Labels: :spider_web: dependencies
