Repository crimethinc/website, pull requests merged in 2020-01, with the labels that each got.

#1459 Add Arabic to Locales lookup table
  app/services/locale_service/locales.rb
Labels: :world_map: translations

#1460 [i18n] Remove Unicode Character 'LEFT-TO-RIGHT MARK' (U+200E)
  app/services/locale_service/locales.rb
Labels: :bug: bug, :speech_balloon: languages

#1468 [i18n] make languages header link absolute rather than relative
  app/views/2017/shared/_header.html.erb
Labels: :bug: bug

#1477 Try to fix GH actions
  .github/workflows/tests.yml
Labels: ✅ actions

#1478 Finnish translations
  app/models/article.rb
  db/schema.rb
  lib/tasks/data/fi/20101022135102174.md
  lib/tasks/data/fi/20101022135102174.yaml
  lib/tasks/data/fi/20120521154812182.md
  lib/tasks/data/fi/20120521154812182.yaml
  lib/tasks/data/fi/20161107122355863.md
  lib/tasks/data/fi/20161107122355863.yaml
  lib/tasks/data/fi/20161116151053472.md
  lib/tasks/data/fi/20161116151053472.yaml
  lib/tasks/data/fi/2017012012560381.md
  lib/tasks/data/fi/2017012012560381.yaml
  lib/tasks/data/fi/20170128012602613.md
  lib/tasks/data/fi/20170128012602613.yaml
  lib/tasks/data/fi/20170429153654684.md
  lib/tasks/data/fi/20170429153654684.yaml
  lib/tasks/data/fi/20170507130846550.md
  lib/tasks/data/fi/20170507130846550.yaml
  lib/tasks/data/fi/20180605135248671.md
  lib/tasks/data/fi/20180605135248671.yaml
  lib/tasks/data/fi/20180702135751722.md
  lib/tasks/data/fi/20180702135751722.yaml
  lib/tasks/data/fi/20181101114422402.md
  lib/tasks/data/fi/20181101114422402.yaml
  lib/tasks/data/fi/2019030822570135.md
  lib/tasks/data/fi/2019030822570135.yaml
  lib/tasks/data/fi/20191008195155908.md
  lib/tasks/data/fi/20191008195155908.yaml
  lib/tasks/data/fi/20191009193312830.md
  lib/tasks/data/fi/20191009193312830.yaml
  lib/tasks/data/fi/20191020143718331.md
  lib/tasks/data/fi/20191020143718331.yaml
  lib/tasks/data/fi/20191113194820282.md
  lib/tasks/data/fi/20191113194820282.yaml
  lib/tasks/data/fi/20191124201653597.md
  lib/tasks/data/fi/20191124201653597.yaml
  lib/tasks/data/import.rake
  lib/tasks/data/pl/1.md
  lib/tasks/data/pl/1.yaml
  lib/tasks/data/pl/2.md
  lib/tasks/data/pl/2.yaml
Labels: :world_map: translations, ↔️ migrations
