Repository crimethinc/website, pull requests merged in 2020-12, with the labels that each got.

#1885 [TCE] Thai translation
  app/assets/stylesheets/to_change_everything.scss
  app/assets/stylesheets/to_change_everything/_ภาษาไทย.scss
  app/assets/stylesheets/to_change_everything/thai/_font_overrides.scss
  app/controllers/to_change_everything_controller.rb
  app/helpers/to_change_everything_helper.rb
  config/application.rb
  config/locales/to_change_everything/th.yml
Labels: 💡 To Change Everything

#1873 Version bump Bootstrap to 5.0.0.alpha2
  Gemfile
  Gemfile.lock
  app/assets/javascripts/admin.js
  app/assets/javascripts/steal-something-from-work-day.js
Labels: :spider_web: dependencies

#1905 Migrate Bootstrap to 5.0.0.alpha3
  Gemfile
  Gemfile.lock
  app/assets/stylesheets/admin/_articles.scss
  app/assets/stylesheets/admin/_forms.scss
  app/views/admin/_datetime_group.html.erb
  app/views/admin/_form_actions.html.erb
  app/views/admin/_label_and_area_form_group.html.erb
  app/views/admin/_label_and_field_form_group.html.erb
  app/views/admin/_publication_status.html.erb
  app/views/admin/articles/_article.html.erb
  app/views/admin/articles/_form.html.erb
  app/views/admin/articles/draft.html.erb
  app/views/admin/articles/form/_categories.html.erb
  app/views/admin/articles/form/_featured_status.html.erb
  app/views/admin/articles/form/_localization.html.erb
  app/views/admin/articles/form/_published_at.html.erb
  app/views/admin/articles/form/_syndication.html.erb
  app/views/admin/articles/form/_tags.html.erb
  app/views/admin/articles/index.html.erb
  app/views/admin/books/_downloads_form.html.erb
  app/views/admin/books/_form.html.erb
  app/views/admin/dashboard/index.html.erb
  app/views/admin/dashboard/markdown.html.erb
  app/views/admin/episodes/_form.html.erb
  app/views/admin/locales/_form.html.erb
  app/views/admin/logos/_form.html.erb
  app/views/admin/pages/_form.html.erb
  app/views/admin/podcasts/_form.html.erb
  app/views/admin/posters/_attachments.html.erb
  app/views/admin/posters/_deprecated_download_checks.html.erb
  app/views/admin/posters/_form.html.erb
  app/views/admin/posters/show.html.erb
  app/views/admin/redirects/_form.html.erb
  app/views/admin/redirects/index.html.erb
  app/views/admin/shared/_position.html.erb
  app/views/sessions/new.html.erb
Labels: :spider_web: dependencies

#1911 [TCE] DRY refactor triplicate toggleDiv() functions
  app/views/layouts/to_change_everything.html.erb
  public/tce/czech/index.html
  public/tce/deutsch/index.html
  public/tce/polski/index.html
  public/tce/slovenscina/index.html
  public/tce/slovensko/index.html
Labels: 💡 To Change Everything

#1916 Revert "Bump rails from 6.0.3.4 to 6.1.0"
  .rubocop_todo.yml
  Gemfile.lock
  db/migrate/20201222045039_add_service_name_to_active_storage_blobs.active_storage.rb
  db/migrate/20201222045040_create_active_storage_variant_records.active_storage.rb
  db/schema.rb
Labels: :spider_web: dependencies, ↔️ migrations

#1922 Re-add rspec-rails
  Gemfile
  Gemfile.lock
Labels: :spider_web: dependencies

#1923 Re-enable rubocop-rails
  .github/workflows/linter_rubocop.yml
  .rubocop.yml
  .rubocop_todo.yml
Labels: ✅ actions
