Repository crimethinc/website, pull requests merged in 2020-05, with the labels that each got.

#1586 [I18n] add translation features to books, zines, stickers, and posters
  app/assets/stylesheets/2017/views/_tools.scss
  app/controllers/admin/books_controller.rb
  app/controllers/admin/issues_controller.rb
  app/controllers/admin/posters_controller.rb
  app/controllers/admin/stickers_controller.rb
  app/controllers/admin/zines_controller.rb
  app/controllers/tools_controller.rb
  app/models/concerns/multi_page_tool.rb
  app/models/concerns/single_page_tool.rb
  app/models/concerns/translatable.rb
  app/views/2017/books/show.html.erb
  app/views/2017/tools/index.html.erb
  app/views/2017/tools/show.html.erb
  app/views/admin/books/_form.html.erb
  app/views/admin/books/edit.html.erb
  app/views/admin/books/index.html.erb
  app/views/admin/posters/_form.html.erb
  app/views/admin/posters/edit.html.erb
  app/views/admin/posters/index.html.erb
Labels: :world_map: translations

#1588 Add Slovenian locale
  config/locales/pages/sl/about.markdown
  config/locales/pages/sl/contact.markdown
  config/locales/pages/sl/litkit_aside.markdown
  config/locales/pages/sl/litkit_main.markdown
  config/locales/pages/sl/start.markdown
  config/locales/pages/sl/steal_something_from_work_day/analysis.markdown
  config/locales/pages/sl/steal_something_from_work_day/disclaimer.markdown
  config/locales/pages/sl/steal_something_from_work_day/faq.markdown
  config/locales/pages/sl/steal_something_from_work_day/further_reading.markdown
  config/locales/pages/sl/steal_something_from_work_day/internationally.markdown
  config/locales/pages/sl/steal_something_from_work_day/interviews.markdown
  config/locales/pages/sl/steal_something_from_work_day/introduction.markdown
  config/locales/pages/sl/steal_something_from_work_day/narratives.markdown
  config/locales/pages/sl/steal_something_from_work_day/selected_coverage.markdown
  config/locales/pages/sl/steal_something_from_work_day/testimonials.markdown
  config/locales/sl.yml
  config/locales/sl/2020.yml
  config/locales/sl/library.yml
  config/locales/steal_something_from_work_day/sl.yml
  spec/factories/articles.rb
  spec/factories/locale.rb
  spec/system/language_landing_page_spec.rb
Labels: :world_map: translations

#1597 Add FR translation
  config/locales/fr.yml
Labels: :world_map: translations

#1598 Add a subdomain switcher banner to /languages/show
  app/assets/stylesheets/2017.scss
  app/assets/stylesheets/2017/components/_articles_list.scss
  app/assets/stylesheets/2017/views/_languages.scss
  app/views/2017/languages/show.html.erb
  config/locales/ar.yml
  config/locales/bn.yml
  config/locales/cs.yml
  config/locales/cz.yml
  config/locales/da.yml
  config/locales/de.yml
  config/locales/dv.yml
  config/locales/en.yml
  config/locales/es.yml
  config/locales/fi.yml
  config/locales/fr.yml
  config/locales/gr.yml
  config/locales/he.yml
  config/locales/id.yml
  config/locales/it.yml
  config/locales/ja.yml
  config/locales/pl.yml
  config/locales/pt.yml
  config/locales/ru.yml
  config/locales/sl.yml
  config/locales/sv.yml
  config/locales/th.yml
  config/locales/tr.yml
  config/locales/zh.yml
Labels: :world_map: translations

#1605 Fix TCE generator
  app/assets/config/manifest.js
  app/assets/stylesheets/to_change_everything.scss
  app/assets/stylesheets/tochangeeverything.scss
  app/controllers/to_change_everything_controller.rb
  docs/to-change-everything-guide.md
  lib/generators/to_change_everything/USAGE
  lib/generators/to_change_everything/templates/en.yml.template
  lib/generators/to_change_everything/templates/to_change_everything.scss.template
  lib/generators/to_change_everything/to_change_everything_generator.rb
Labels: 💡 To Change Everything

#1593 Add a `position` field to books
  app/controllers/admin/books_controller.rb
  app/controllers/books_controller.rb
  app/models/book.rb
  app/views/admin/books/_form.html.erb
  app/views/admin/books/form/_position.html.erb
  db/migrate/20200511024239_add_position_to_books.rb
  db/schema.rb
Labels: :books: books, ↔️ migrations, 🐘 database

#1629 Add 'position' and 'hide_from_index' to the other tools
  app/controllers/admin/issues_controller.rb
  app/controllers/admin/journals_controller.rb
  app/controllers/admin/logos_controller.rb
  app/controllers/admin/posters_controller.rb
  app/controllers/admin/stickers_controller.rb
  app/controllers/admin/zines_controller.rb
  db/migrate/20200530232342_add_position_to_zines.rb
  db/schema.rb
Labels: ↔️ migrations
