Repository crimethinc/website, pull requests merged in 2020-06, with the labels that each got.

#1631 [BUG] fix tag uniqueness logic
  app/services/tag_assigner.rb
  app/views/admin/articles/form/_categories.html.erb
  db/migrate/20200601010657_add_uniq_to_tags.rb
  db/schema.rb
Labels: :bug: bug, ↔️ migrations

#1648 Don't require S3 gem
  Gemfile
Labels: :spider_web: dependencies

#1651 Uploads setup [#773]
  Gemfile
  Gemfile.lock
  app.json
  config/environments/production.rb
  config/storage.yml
Labels: :spider_web: dependencies, behavioral

#1652 Add Active Storage migrations
  db/migrate/20200616065947_create_active_storage_tables.active_storage.rb
  db/schema.rb
Labels: ↔️ migrations

#1658 [#773] More setup for uploads
  .env.sample
  Gemfile
  Gemfile.lock
  config/environments/production.rb
  config/storage.yml
Labels: :spider_web: dependencies
