Repository crimethinc/website, pull requests merged in 2023-06, with the labels that each got.

#3312 Remove twitter deps
  Gemfile
  Gemfile.lock
  app/models/tweet.rb
Labels: :spider_web: dependencies

#3336 Version bump PostgreSQL to 15
  Brewfile
  db/schema.rb
  script/bootstrap
  script/setup
Labels: ↔️ migrations

#3337 Drop unused search_results view
  db/migrate/20230628052836_drop_search_results_view.rb
  db/schema.rb
Labels: ↔️ migrations

#3338 Delete remnants of scenic gem and migrations
  Gemfile
  Gemfile.lock
  db/migrate/20200715082914_init_schema.rb
  db/migrate/20230628052836_drop_search_results_view.rb
  db/views/search_results_v01.sql
  db/views/search_results_v02.sql
  db/views/search_results_v03.sql
  db/views/search_results_v04.sql
  db/views/search_results_v05.sql
Labels: :spider_web: dependencies, ↔️ migrations

#3339 Squash all migrations
  .rubocop.yml
  .rubocop_todo.yml
  db/migrate/20201222045039_add_service_name_to_active_storage_blobs.active_storage.rb
  db/migrate/20201222045040_create_active_storage_variant_records.active_storage.rb
  db/migrate/20210426235038_add_publishing_columns_to_definitions.rb
  db/migrate/20211016190705_add_featurable_fields_to_articles.rb
  db/migrate/20211220010100_remove_not_null_on_active_storage_blobs_checksum.active_storage.rb
  db/migrate/20220216024113_add_notes_to_articles.rb
  db/migrate/20220221055149_migration_delete_image_column_from_videos.rb
  db/migrate/20220225090158_add_publication_status_fields_to_episodes.rb
  db/migrate/20220305063227_add_timestamps_to_issues.rb
  db/migrate/20230628052836_drop_search_results_view.rb
  db/migrate/20230628052836_init_schema.rb
Labels: ↔️ migrations

#3343 Version bump better_html from 2.0.1 to 2.0.2
  Gemfile.lock
Labels: :spider_web: dependencies

#3344 Version bump aws-sdk-core aws-sdk-kms aws-sdk-s3 aws-sigv4
  =
  Gemfile.lock
Labels: :spider_web: dependencies

#3345 Version bump redis from 4.8 to 5.0
  Gemfile.lock
Labels: :spider_web: dependencies
