Repository crimethinc/website, pull requests merged in 2024-02, with the labels that each got.

#3749 [#3778] Fix labeler config - third edition
  .github/labeler.yml
Labels: ✅ actions

#3750 Version bump Ruby from 3.2.2 to 3.3.0
  .ruby-version
  Gemfile.lock
Labels: :spider_web: dependencies

#3781 [Rubocop] Layout/LineLength
  .rubocop.yml
  .rubocop_todo.yml
  app/controllers/admin/articles_controller.rb
  app/controllers/admin/books_controller.rb
  app/controllers/admin/zines_controller.rb
  app/controllers/pages_controller.rb
  app/helpers/articles_helper.rb
  app/helpers/to_change_everything_helper.rb
  app/lib/code_archiver.rb
  app/middlewares/rack/domain_redirect.rb
  app/models/active_storage_mirror_syncer.rb
  app/models/article.rb
  app/models/concerns/publishable.rb
  app/models/concerns/single_page_tool.rb
  app/models/redirect.rb
  app/views/2017/tools/show.json.jbuilder
  config/initializers/new_framework_defaults_7_1.rb
  config/routes.rb
  config/sitemap.rb
  spec/controllers/categories_controller_spec.rb
  spec/controllers/pages_controller_spec.rb
  spec/helpers/articles_helper_spec.rb
  spec/models/article_spec.rb
  spec/models/podcast_spec.rb
  spec/models/redirect_spec.rb
  spec/models/tag_spec.rb
  spec/rails_helper.rb
  spec/requests/json_requests_spec.rb
Labels: 💡 To Change Everything
